.modal {
	display: none; /* Hidden by default */
	z-index: 10;
	position: fixed;
    top: 30%;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Modal Content/Box */
  .modal-content {
	margin: auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: floralwhite;
	text-decoration: none;
	cursor: pointer;
  }

  form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	text-align: center;
}