<footer class="text-gray-500 bg-gray-900 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">shareyourFY</span>
        </a>
        <p class="text-sm text-gray-600 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">©
            2020 shareyourFY —
            <a href="https://twitter.com/Samprit_07" class="text-gray-500 ml-1" target="_blank"
                rel="noopener noreferrer">@Samprit_07</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a class="text-gray-600" style="cursor: pointer;" href="https://github.com/Samprit1712/">
                <i class="fa fa-lg fa-github" aria-hidden="true"></i>
            </a>
            <a class="ml-3 text-gray-600" style="cursor: pointer;"
                href="https://linkedin.com/in/sampritchaurasiya1712/">
                <i class="fa fa-lg fa-linkedin-square" aria-hidden="true"></i>
            </a>
            <a class="ml-3 text-gray-600" style="cursor: pointer;" href="mailto:sampritchaurasiya07@gmail.com">
                <i class="fa fa-lg fa-google-plus" aria-hidden="true"></i>
            </a>
            <a class="ml-3 text-gray-600" style="cursor: pointer;" href="https://instagram.com/Samprit1712">
                <i class="fa fa-lg fa-instagram" aria-hidden="true"></i>
            </a>
        </span>
    </div>
</footer>