<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/img/logo.jpeg" style="width: max-content; height: max-content;">
    <title>shareyourFY</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/fontawesome.min.css"
        integrity="sha512-8jdwayz5n8F2cnW26l9vpV6+yGOcRAqz6HTu+DQ3FtVIAts2gTdlFZOGpYhvBMXkWEgxPN3Y22UWyZXuDowNLA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/form.css">
</head>

<body style="background-color: #1A202C;" onload="logform()">

    <%-include('../partials/navbar',{user: user,title: title})%>
    <%- body %>
    <%-include('../partials/footer')%>
</body>
</html>