<section class="text-gray-500 bg-gray-900 body-font">
	<h1 class="text-3xl text-indigo-500 body-font px-5">Engineering Drawing Materials</h1>
	<div class="container px-5 py-10 mx-auto">
		<div class="flex flex-wrap -m-4">

			<% data.forEach(item => { %>
			<div class="lg:w-1/4 md:w-1/2 p-4 w-full" style="z-index: 1;">
				<a class="block relative h-48 rounded overflow-hidden">
					<img alt="ecommerce" class="object-cover object-center w-full h-full block" style="object-fit: contain;"
						src="<%= item.imageUrl%>" accept="image/*">
				</a>
				<div class="mt-4">
					<h2 class="text-white title-font text-lg font-medium"><%= item.instruments.join(", ")%></h2>
					<h3 class="text-gray-500 text-2xs tracking-widest title-font mb-1"><%= item.title%></h3>
					<p class="mt-1"><%= item.contact %></p>
				</div>
			</div>
			<% }) %>

		</div>
	</div>
	</div>