<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .modal-content {
        margin: 8% auto;
        border: 1px solid #888;
        width: min-content;
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>
<div class="container px-5 mx-auto" style="padding-top: 8rem; padding-bottom: 2rem;">
    <div class="flex flex-col sm:flex-row sm:items-center items-start mx-auto">
        <h1 class="text-3xl flex-grow sm:pr-16 font-medium title-font text-indigo-500">Blogs & Urls for extra materials
        </h1>
        <button id="blogbtn"
            class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">Add Article</button>
    </div>
</div>
<h1 class="text-xl" style="float: right;">+</h1>
<section class="container mx-auto text-gray-500 bg-gray-900 body-font overflow-hidden">
    <div class="px-5 py-10">
        <div class="-my-8">
            <% for(let i = 0; i < 5; i++) { %>
            <div class="py-8 flex flex-wrap md:flex-no-wrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="text-xl tracking-widest font-medium title-font text-white">Topic</span>
                    <span class="mt-1 text-gray-600 text-2sm">Editor - 30 Feb 2021</span>
                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-medium text-white title-font mb-2">Heading: Bitters hashtag waistcoat
                        fashion axe
                        chia unicorn</h2>
                    <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist
                        pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware
                        kombucha lumbersexual pork belly polaroid hoodie portland craft beer.</p>
                </div>
            </div>
            <% if(i < (5-1)) { %>
            <div class="border-b-2 border-gray-800"></div>
            <% } %>
            <% } %>
        </div>
    </div>
</section>



<div id="blogmodal" class="modal"
    style="display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; background-color: #1A202C;">
    <div class="modal-content" style="background-color: #1A202C;">
        <div class="flex flex-col md:py-8" style="width: 25rem;">
            <form action="#" method="POST">
                <div class="form-container relative">
                <span class="close" id="cross" style="float: right;;">&times;</span>
                <h2 class="text-white text-center text-lg mb-1 font-medium title-font">Publish Your Article</h2>
                <div class="relative mb-4">
                    <input type="text" name="topic"
                        class="w-full bg-gray-800 rounded border border-gray-700 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-6 transition-colors duration-200 ease-in-out"
                        placeholder="Topic">
                </div>
                <div class="relative mb-4">
                    <input type="text" name="head"
                        class="w-full bg-gray-800 rounded border border-gray-700 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-6 transition-colors duration-200 ease-in-out"
                        placeholder="Heading">
                </div>
                <div class="relative mb-4">
                    <textarea name="article"
                        class="w-full bg-gray-800 rounded border border-gray-700 focus:border-indigo-500 h-32 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-4 transition-colors duration-200 ease-in-out"
                        placeholder="Article/URL(s) of resource for topic"></textarea>
                </div>
                <button
                    class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Publish</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('blogbtn').onclick = function () {
        document.getElementById('blogmodal').style.display = 'inline-block';
    }
    document.getElementById('cross').onclick = function () {
        document.getElementById('blogmodal').style.display = 'none';
    }
</script>