<style>
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .py-24 {
        padding-top: 2rem;
    }
</style>

<div class="container px-5 mx-auto" style="padding-top: 2rem; padding-bottom: 2rem">
    <div class="flex flex-col sm:flex-row sm:items-center items-start mx-auto"
        style="display: flex; align-items: center">
        <h1 class="text-3xl flex-grow sm:pr-16 font-medium title-font text-indigo-500">
            Previous Year Questions
        </h1>
        <button id="blogbtn" style="margin-top: 1rem" onclick="formFunction(true)"
            class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">
            Upload
        </button>
    </div>
</div>

<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto flex">
        <div class="flex flex-wrap -m-4">
            <div>
                <div class="p-4 lg:w-1/1" style="display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: stretch; justify-items: stretch;">
                    <div class="flex border-2 rounded-lg border-gray-800 p-8 sm:flex-row flex-col" style="margin: 10px 0px">
                        <div
                            class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 flex-shrink-0">
                            <img src="/img/ebooks.jpg" style="border-radius: inherit; border: inherit; height: inherit; width: inherit;">
                        </div>
                        <div class="flex-grow">
                            <h2 class="text-white text-lg title-font font-medium mb-3">
                                Title
                            </h2>
                            <p class="leading-relaxed text-base">
                                Author
                            </p>
                            <p class="leading-relaxed text-base">
                                Branch
                            </p>
                            <a class="mt-3 text-indigo-400 inline-flex items-center" href="#">Download
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="flex border-2 rounded-lg border-gray-800 p-8 sm:flex-row flex-col" style="margin: 10px 0px">
                        <div
                            class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 flex-shrink-0">
                            <img src="/img/ebooks.jpg" style="border-radius: inherit; border: inherit; height: inherit; width: inherit;">
                        </div>
                        <div class="flex-grow">
                            <h2 class="text-white text-lg title-font font-medium mb-3">
                                Title
                            </h2>
                            <p class="leading-relaxed text-base">
                                Author
                            </p>
                            <p class="leading-relaxed text-base">
                                Branch
                            </p>
                            <a class="mt-3 text-indigo-400 inline-flex items-center" href="#">Download
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="flex border-2 rounded-lg border-gray-800 p-8 sm:flex-row flex-col" style="margin: 10px 0px">
                        <div
                            class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 flex-shrink-0">
                            <img src="/img/ebooks.jpg" style="border-radius: inherit; border: inherit; height: inherit; width: inherit;">
                        </div>
                        <div class="flex-grow">
                            <h2 class="text-white text-lg title-font font-medium mb-3">
                                Title
                            </h2>
                            <p class="leading-relaxed text-base">
                                Author
                            </p>
                            <p class="leading-relaxed text-base">
                                Branch
                            </p>
                            <a class="mt-3 text-indigo-400 inline-flex items-center" href="#">Download
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="flex border-2 rounded-lg border-gray-800 p-8 sm:flex-row flex-col" style="margin: 10px 0px">
                        <div
                            class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 flex-shrink-0">
                            <img src="/img/ebooks.jpg" style="border-radius: inherit; border: inherit; height: inherit; width: inherit;">
                        </div>
                        <div class="flex-grow">
                            <h2 class="text-white text-lg title-font font-medium mb-3">
                                Title
                            </h2>
                            <p class="leading-relaxed text-base">
                                Author
                            </p>
                            <p class="leading-relaxed text-base">
                                Branch
                            </p>
                            <a class="mt-3 text-indigo-400 inline-flex items-center" href="#">Download
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="flex border-2 rounded-lg border-gray-800 p-8 sm:flex-row flex-col" style="margin: 10px 0px">
                        <div
                            class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 flex-shrink-0">
                            <img src="/img/ebooks.jpg" style="border-radius: inherit; border: inherit; height: inherit; width: inherit;">
                        </div>
                        <div class="flex-grow">
                            <h2 class="text-white text-lg title-font font-medium mb-3">
                                Title
                            </h2>
                            <p class="leading-relaxed text-base">
                                Author
                            </p>
                            <p class="leading-relaxed text-base">
                                Branch
                            </p>
                            <a class="mt-3 text-indigo-400 inline-flex items-center" href="#">Download
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="flex border-2 rounded-lg border-gray-800 p-8 sm:flex-row flex-col" style="margin: 10px 0px">
                        <div
                            class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 flex-shrink-0">
                            <img src="/img/ebooks.jpg" style="border-radius: inherit; border: inherit; height: inherit; width: inherit;">
                        </div>
                        <div class="flex-grow">
                            <h2 class="text-white text-lg title-font font-medium mb-3">
                                Title
                            </h2>
                            <p class="leading-relaxed text-base">
                                Author
                            </p>
                            <p class="leading-relaxed text-base">
                                Branch
                            </p>
                            <a class="mt-3 text-indigo-400 inline-flex items-center" href="#">Download
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="flex border-2 rounded-lg border-gray-800 p-8 sm:flex-row flex-col" style="margin: 10px 0px">
                        <div
                            class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 flex-shrink-0">
                            <img src="/img/ebooks.jpg" style="border-radius: inherit; border: inherit; height: inherit; width: inherit;">
                        </div>
                        <div class="flex-grow">
                            <h2 class="text-white text-lg title-font font-medium mb-3">
                                Title
                            </h2>
                            <p class="leading-relaxed text-base">
                                Author
                            </p>
                            <p class="leading-relaxed text-base">
                                Branch
                            </p>
                            <a class="mt-3 text-indigo-400 inline-flex items-center" href="#">Download
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>