<style>
    @media (max-width: 650px) {
      .min-sec {
        padding-top: 120px;
      }
    }
  
    @media (min-width: 650px) {
      .min-sec {
        padding-top: 20px;
      }
    }
    ::placeholder {
        color: rgb(102, 89, 89) !important;
    }
    [class^="hvr-"] {
	 margin: 0.4em;
	 padding: 1em;
	 cursor: pointer;
	 -webkit-font-smoothing: antialiased;
}
</style>
<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/hover.css">
<section class="min-sec text-gray-500 body-font bg-gray-900">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Services we provide</h1>
                <div class="h-1 w-20 bg-indigo-500 rounded"></div>
            </div>
            <p class="lg:w-1/2 w-full leading-relaxed text-base">Welcome to our services page, here you can take
                benefit of all the services that we provide. As you already know we provide you all with our four
                templates which allows newbies to access various materials available be it forum dedicated to solving your problems,
                instruments used for Engineering Drawing, C language Codes or any other material to excel in your
                chosen stream/subject/topics.</p>
        </div>
        <div class="flex flex-wrap -m-4">
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="bg-gray-800 p-6 rounded-lg">
                    <img class="h-40 rounded w-full object-cover object-center mb-6"
                        src="./img/david-travis-5bYxXawHOQg-unsplash.jpg" alt="content">
                    <h2 class="text-lg text-white font-medium title-font mb-4">Forum</h2>
                    <p class="leading-relaxed py-1 text-base">Find answer to your problems!<br> Senior will help with your question!</p>
                    <div class="flex justify-center" style="padding-top: 15px;">
                        <a href="/services/forum"><button  id="accnote"
                            class="inline-flex hvr-grow-shadow text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded text-lg">Access</button></a>
                    </div>
                </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="bg-gray-800 p-6 rounded-lg">
                    <img class="h-40 rounded w-full object-cover object-center mb-6"
                        src="./img/benjamin-smith-BQOlMDtb9e8-unsplash.jpg" alt="content">
                    <h2 class="text-lg text-white font-medium title-font mb-4">ED Instruments</h2>
                    <p class="leading-relaxed py-1 text-base">Here one can give/get info about materials they wanna
                        share.</p>
                    <div class="flex justify-center" style="padding-top: 15px;">
                        <a href="/services/ed"><button id="acced"
                            class="inline-flex hvr-grow-shadow  text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded text-lg">Access</button></a>
                        <button id="conted"
                            class="ml-4 inline-flex hvr-grow-shadow  text-gray-400 bg-gray-800 border-0 py-1 px-4 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg">Contribute</button>
                    </div>
                </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="bg-gray-800 p-6 rounded-lg">
                    <img class="h-40 rounded w-full object-cover object-center mb-6"
                        src="./img/kevin-ku-w7ZyuGYNpRQ-unsplash.jpg" alt="content">
                    <h2 class="text-lg text-white font-medium title-font mb-4">Textbook Renting</h2>
                    <p class="leading-relaxed py-1 text-base">Here you can find which of all books are available
                        to rent/buy for your academic year.</p>
                    <div class="flex justify-center" style="padding-top: 15px;">
                        <a href="/services/rent"><button id="acctr"
                            class="inline-flex hvr-grow-shadow text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded text-lg">Access</button></a>
                        <button id="conttr"
                            class="ml-4 inline-flex hvr-grow-shadow text-gray-400 bg-gray-800 border-0 py-1 px-4 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg">Contribute</button>
                    </div>
                </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="bg-gray-800 p-6 rounded-lg">
                    <img class="h-40 rounded w-full object-cover object-center mb-6" src="./img/extmat.png"
                        alt="content">
                    <h2 class="text-lg text-white font-medium title-font mb-4">Extra Materials</h2>
                    <p class="leading-relaxed py-1 text-base">We have provided platform to access/contribute to
                        extra materials from academics.</p>
                    <div class="flex justify-center" style="padding-top: 15px;">
                        <button id="accext"
                            class="inline-flex hvr-grow-shadow text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded text-lg">Access</button>
                        <button id="context"
                            class="ml-4 inline-flex hvr-grow-shadow text-gray-400 bg-gray-800 border-0 py-1 px-4 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg">Contribute</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="contnotemodal" class="modal">
    <div class="modal-content" style="background-color: #1A202C;">
        <span class="close" id="cross">&times;</span>
        <div class="form-container sign-up-container">
            <form action="#" id="contnoteform">
                <span style="padding-bottom: 10px; color: floralwhite; padding-top: 10px;">Add Notes Details
                    here!</span>
                <input type="text" style="border-width: 3px; width: 300px; height: 35px; border-radius: 15px;"
                    name="sub" id="Subject" placeholder="Subject name" required>
                <span style="padding-bottom: 10px;"></span>
                <input type="text" style="border-width: 3px; width: 300px; height: 35px; border-radius: 15px;"
                    name="topic" id="Topic" placeholder="Topic Name" required>
                <span style="padding-bottom: 10px;"></span>
                <input type="file"
                    style="border-width: 3px; color: #667EEA; width: 300px; height: 35px; border-radius: 8px;"
                    name="file" id="File">
                <span style="padding-bottom: 10px;"></span>
                <h1 style="color: gray; padding-top: 10px; padding-bottom: 15px;">or<br></h1>
                <input type="url"
                    style="border-width: 3px; color: #667EEA; width: 300px; height: 35px; border-radius: 15px;"
                    name="url" id="URL" placeholder="Enter URL">
                <span style="padding-bottom: 20px;"></span>
                <button type="submit" name="sub" id="contnotesub"
                    style="color: floralwhite; background-color: #667EEA; border-radius: 5px; width: 80px; height: 30px;">Submit</button>
            </form>
        </div>
    </div>
</div>

<div id="conttrmodal" class="modal hvr-wobble-vertical" style="display: none;">
    <div class="modal-content" style="background-color: #1A202C; margin: 8% auto; padding: 0px 20px;">
        <span class="close" id="cross3">&times;</span>
        <div class="form-container sign-up-container">
            <form action="/services/rent" id="conttrform" method="POST" enctype="multipart/form-data">
                <span style="padding-bottom: 10px; color: floralwhite; padding-top: 10px;">Add Textbook Details
                    here!</span>
                <input type="text" style="border-width: 3px; width: 300px; height: 35px; border-radius: 15px;"
                    name="title" placeholder="Title" required>
                <span style="padding-bottom: 10px;"></span>
                <input type="text" style="border-width: 3px; width: 300px; height: 35px; border-radius: 15px;"
                    name="description" placeholder="Description" required>
                <span style="padding-bottom: 10px;"></span>
                <input type="file" id="files"
                    style="border-width: 3px; color: #667EEA; width: 300px; height: 35px; border-radius: 8px;"
                    name="upload" multiple>
                    <label for="files" style="color: aliceblue;">*Upload&nbsp;image&nbsp;of&nbsp;textbook</label>
                <span style="padding-bottom: 10px;"></span>
                <input type="tel" pattern="[0-9]{10}"
                    style="border-width: 3px; width: 300px; height: 35px; border-radius: 15px;" name="contact"
                    id="Contact" placeholder="Contact Number eg. 9876543210" required>
                <span style="padding-bottom: 10px;"></span>
                <input type="number" style="border-width: 3px; width: 300px; height: 35px; border-radius: 15px;"
                    name="price" placeholder="Base Price if any">
                <span style="padding-bottom: 10px;"></span>
                <button type="submit" id="conttrsub"
                    style="color: floralwhite; background-color: #667EEA; border-radius: 5px; width: 80px; height: 30px;">Submit</button>
            </form>
        </div>
    </div>
</div>

<div id="cont_ed_modal" class="modal hvr-wobble-vertical" style="display: none;">
    <div class="modal-content" style="background-color: #1A202C; margin: 8% auto; padding: 0px 20px;">
        <span class="close" id="cross2">&times;</span>
        <div class="form-container sign-up-container">
            <form action="/services/ed" id="cont_ed_form" method="POST" enctype="multipart/form-data">
                <span style="padding-bottom: 10px; color: #667EEA; padding-top: 10px;">Click on the materials you
                    want to share -\-></span>
                <input type="textbox" style="border-width: 3px; width: 300px; height: 50px; border-radius: 15px;"
                    name="title" id="Handover" placeholder="Handover Instruction" required>
                <span style="padding-bottom: 10px;"></span>
                <input type="file" style="border-width: 3px; width: 300px; height: 35px; border-radius: 15px;" name="upload"
                    id="image" required multiple>
                <label for="image" style="color: aliceblue;">*Upload&nbsp;image&nbsp;containing&nbsp;all&nbsp;instruments</label>
                <input type="tel" pattern="[0-9]{10}"
                    style="border-width: 3px; width: 300px; height: 35px; border-radius: 15px;" name="contact"
                    id="Contact" placeholder="Contact Number eg. 9876543210" required>
                <span style="padding-bottom: 10px;"></span>
                <div style="text-align: left; color: antiquewhite;">
                    <input type="checkbox" id="ed1" name="instruments[]" value="Roller Scale">
                    <label for="ed1"> Roller Scale</label><br>
                    <span style="padding-bottom: 10px;"></span>
                    <input type="checkbox" id="ed2" name="instruments[]" value="Mini-Drafter">
                    <label for="ed2"> Mini-Drafter</label><br>
                    <span style="padding-bottom: 10px;"></span>
                    <input type="checkbox" id="ed3" name="instruments[]" value="Container">
                    <label for="ed3"> Container</label><br>
                    <span style="padding-bottom: 10px;"></span>
                    <input type="checkbox" id="ed4" name="instruments[]" value="Set Sqaures">
                    <label for="ed4"> Set Squares</label><br>
                    <span style="padding-bottom: 10px;"></span>
                    <input type="checkbox" id="ed5" name="instruments[]" value="French Curve">
                    <label for="ed5"> French Curve</label><br>
                    <span style="padding-bottom: 10px;"></span>
                    <input type="checkbox" id="ed6" name="instruments[]" value="Clips">
                    <label for="ed6"> Clips</label><br>
                    <span style="padding-bottom: 10px;"></span>
                </div>
                <span style="padding-bottom: 10px;"></span>
                <button type="submit" id="cont_ed_sub"
                    style="color: floralwhite; background-color: #667EEA; border-radius: 5px; width: 80px; height: 30px;">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('contnote').onclick = function () {
        document.getElementById('contnotemodal').style.display = 'inline-block';
    }
    document.getElementById('cross').onclick = function () {
        document.getElementById('contnotemodal').style.display = 'none';
    }
</script>
<script>
    document.getElementById('conted').onclick = function () {
        document.getElementById('cont_ed_modal').style.display = 'inline-block';
    }
    document.getElementById('cross2').onclick = function () {
        document.getElementById('cont_ed_modal').style.display = 'none';
    }
</script>
<script>
    document.getElementById('conttr').onclick = function () {
        document.getElementById('conttrmodal').style.display = 'inline-block';
    }
    document.getElementById('cross3').onclick = function () {
        document.getElementById('conttrmodal').style.display = 'none';
    }
</script>